@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(32, 32, 32);
}

.resetB{
    display: none;
}

.errorDato{
    color: red;
    text-align: center;
    padding-bottom: 15px;
}

.listaAlumn{
    text-align: center;
    padding: 5px;
    list-style: none;
}